/* COLOR CODE REF
    Main Blue:
0d65d8
    Grey:
848c9a
    Off Black:
27282c
*/

/* NOTE CSS VALIDATED 3/6 4:30 PM */


/* SKIPNAV */

#skipnav{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  #skipnav a{
    background-color: orange;
    color: #000;
    font-weight: bold;
    padding: 15px 5px;
    position: absolute;
    top: -100px;
    text-decoration:none;
  }
  
  #skipnav a:focus{
    outline: 5px solid #FFF;
    top:0;
  }

/* SKIPNAV DONE */

body {
    font-family: 'Open Sans';
}

.siteheader {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.siteheader h1 {
    color: #0d65d8;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.siteheader h3 {
    color: #848c9a;
    font-weight:lighter;
}

.homebutton {
    display: flex;
    justify-content:center;
}

.homebutton a {
    background-color: #0d65d8;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 60px;
    font-weight: bold;
    border-radius: 7px;
}

.homebutton a:hover {
    animation-name: hithere;
    animation-duration: 1s;
}

@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }

.homebutton a:focus{
    background-color: orange;
    color: black;
    font-weight:bold;
    outline: 3px solid black;
  }
  
@media only screen and (min-width: 760px) {

    #main-content {
        display: flex;
        flex-direction: column;
    }

    #main-content div:nth-child(2) {
        order: 1;
      }

    #main-content div:nth-child(1) {
        order: 2;
      }

    .siteheader {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0rem;
    }

    .siteheader h1 {
        color: #0d65d8;
        font-weight: bold;
        font-size: 2.5rem;
        padding: 0.5rem;
    }
    
    .siteheader h3 {
        color: #848c9a;
        font-weight:lighter;
        font-size: 1.5rem;
    }

}
